<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler me-2" type="button" style="color:black" id="sidebarToggle">
            <i class="bi bi-list"></i>
        </button>

        <div class="mobile-logo-container d-lg-none mx-auto">
            <img src="~/img/logo.jpg" alt="Logo" class="mobile-logo">
        </div>

        <div class="d-flex align-items-center ms-auto" style="width:150px">
            <div class="dropdown">
                <a href="#" style="text-decoration:none" class="dropdown-toggle text-black" data-bs-toggle="dropdown">               
                    <img src="~/img/askar.jpg" width="30px" style="border-radius:15px; margin-right: 12px;">
                    <span class="me-2">Askar Ib.</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>